<div class="pj-site-container notice">
<div style="font-size: 15px;background: #fff;color: #333;padding: 5px;line-height: 30px;">
	<p>退课：</p>
	<p>从课程开通之日起30天之内且未产生听课记录，如需退课需要直接与新东方在线客服中心（400-676-3300）联系，联系时需提供详细的退课原因。</p>
	<p>注：由于个人原因导致无法听课、无法继续学习（包含不能参加相应的考试）的情况下不予办理退款业务；如因课程原因导致无法学习，在符合退款条件的情况下可以申请退费。</p>
	<p>换课：</p>
	<p>关于换货：无法办理换货，所有的订单均需要先按退课规则进行退货后重新进行购买。</p>
	<p>其它注意事项：</p>
	<p>1.针对每个课程，换课或退款，仅办理一次。</p>
	<p>2.购买课程处于市场优惠期：退、换课时须按当时实际支付的金额进行相应处理。</p>
	<p>3.购买课程时如已使用优惠券（包括学分兑换的优惠券等）：申请换课时，已使用的优惠券无法恢复，须按当时实际支付的金额进行相应处理。</p>
	<p>4.购买课程时获得赠品：退、换课时须将赠品完好交回，验收合格方可办理；如赠品已经使用或出现脏污破损等情况，须计算赠品的费用后再做相应处理。</p>
	<!-- <p>5.购课时开具发票用户，退课时需要将发票完好交回，奖区和密码不得刮开或出现任何的磨损，否则将不予办理退课。</p> -->
	<p>5.课程账号密码，在支付成功后以短信形式发送至预留听课手机号，请注意查收。若长时间未收到短信，请联系新东方客服400-676-3000。</p>
	<p>如购买课程即视为其了解并同意上述活动细则！</p>                                  
    <p style="text-align: right;">服务商：北京天尧信息技术有限公司</p>
</div>
</div>