<div class="err-msg">
  <ul ng-show="form.$submitted && form.$invalid">
    <li ng-show="form.name.$error.required">姓名</li>
    <li ng-show="form.username.$error.required">邮箱</li>
    <li ng-show="form.tel.$error.required">电话</li>
  </ul>
</div>

<form name="form" novalidate ng-submit="events.save(form)" class="css-form">
  <div class="form-group">
    <label for="name">姓名</label>
    <input class="form-control" name="name" ng-model="user.name">
  </div>
   <div class="form-group">
    <label for="name">邮箱</label>
    <input class="form-control" name="username" ng-model="user.username" required>
  </div>
  <div class="form-group">
    <label for="name">电话</label>
    <input class="form-control" name="tel" ng-model="user.tel">
  </div>
   <form class="form-group">
      <label><input name="role" type="checkbox" />产品部 </label> 
      <label><input name="role" type="checkbox" />运营部 </label> 
      <label><input name="role" type="checkbox" />客服部 </label> 
    </form> 

  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>

 <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="events.save(form)">保存</button>
      </div>