<form class="form-inline" name="form">
  <a ui-sref="coupon" class="btn btn-primary">返回列表</a>
  <div style="margin-left: 150px;">
	  <div class="form-group">
	    <label>优惠券名称：{{tempParam.couponName}}</label>
	  </div>
	  </br>
	  <div class="form-group">
	    <label>用户手机号码：</label>
	    <input type="text" name="uMobile" class="form-control" placeholder="手机号码" ng-model="tempParam.sendMobile" ng-pattern="/^(13|15|17|18)\d{9}$/" required>
	    <span style="color:red" ng-show="form.uMobile.$dirty && form.uMobile.$invalid">
			<span ng-show="form.uMobile.$error.pattern">请输入有效的手机号码。</span>
		</span>
	  </div>
	  <br />
	  <div class="form-group">
	  	<button type="button" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="sendCoup()">发送</button>
	  </div>
  </div>
</form>