<div class="pj-site-container addedit creditAddress">
   <ul>
    <li><span>省:</span>
    <select name="" id="province" class="disabled" disabled="disabled">
     
      <option value="请选择">请选择</option>
    
    </select></li>
    <li><span>市:</span>
      <select name="" id="city" class="disabled" disabled="disabled">
    
        <option value="请选择">请选择</option>
     
      </select>
    </li>
    <li><span>县:</span>
    <select name="" id="county" class="disabled" disabled="disabled">
     
        <option value="请选择">请选择</option>
     
    </select>
    </li>
    <li class="boxfive"><span>详细地址:</span><textarea name="street" id="address" cols="30" rows="10"></textarea></li>
   </ul>
    <button class="button">完成</button>
</div>
