<div class="pj-site-container idcardcredit emailVerification sign" style="width: 100%;height:100%;background: #fff!important">
  <img src="../img/email.png" alt="" />
  <p>企业邮箱</p>
  <div class="information">
  		<% if(data.email){ %>
            <% if(data.verifyState == 'A1' || data.verifyState == 'A2' || data.verifyState == ''){ %>
            	<p class="email"><input placeholder="邮箱" name="email" value="<%=data.email.split('@')[0] %>" optional><span>@<%=data.email.split('@')[1] %></span></p>
            <% }else if(data.verifyState == 'A3' || data.verifyState == 'A4'){%>
            	<p class="email"><input placeholder="邮箱" name="email" value="<%=data.email.split('@')[0] %>" optional disabled="disabled"><span>@<%=data.email.split('@')[1] %></span></p>
            <% } %>
        <% } else {%>
        	<p class="email"><input placeholder="邮箱" name="email" value="" optional><span>@<%=data.email.split('@')[1] %></span></p>
        <% } %> 
        <p class="checkcode"><input placeholder="请输入验证码" type="tel" name="verifyCode" value=""><button class="obtain">获取验证码</button></p>
        <p class="prompt"></p>
        <p><button class="submint" data-verifyState="<%=data.verifyState %>">下一步</button></p>
      
    </div>
    <div class="z_box100 hidden"><img class="loading" src="../img/loading_circle_40b82ef.gif" alt=""></div>
</div>