<style>
	/*#system-container {
	  margin-left: 250px;
	}*/
	
	label {
		width: 100px;
		text-align: right;
		padding-right: 10px;
	}
	
	.form-control {
		display: inline-block;
		width: auto;
	}
	
	.modal-footer {
		text-align: center;
	}
	
	.modal-body {
		padding-top: 5px;
	}
	
	.form-group {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	#btnAll {
		margin-right: 30px;
		width: 120px;
		margin-bottom: 10px;
	}
	
	#btnPart {
		width: 120px;
		margin-bottom: 10px;
	}
	
	#form2 {
		display: none;
	}
	
	.symbol_jia {
		width: 20px;
		height: 20px;
		border: 1px solid cornflowerblue;
		border-radius: 50%;
		background: blue;
		display: inline-block;
		font-size: 18px;
		color: #fff;
		text-align: center;
		line-height: 20px;
	}
	
	.symbol_jian {
		width: 20px;
		height: 20px;
		border: 1px solid cornflowerblue;
		border-radius: 50%;
		background: red;
		display: inline-block;
		font-size: 20px;
		color: #fff;
		text-align: center;
		line-height: 16px;
	}
</style>
<div class="btn-group">
	<button id="btnAll" type="button" class="btn btn-primary" ng-click="showForm1()">全部</button>
</div>
<div class="btn-group">
	<button id="btnPart" type="button" class="btn btn-primary" ng-click="showForm2()" ng-disabled="orders.total == 0">部分库存</button>
</div>
<form id="form1" class="form-inline" ng-submit="insert('sku_warning_all')" style="text-align: left;">
	<div>
		<label for="no">预警库存数</label>
		<input type="text" class="form-control" name="no" placeholder="全部预警库存数" ng-model="param">
	</div>
	<div ng-repeat="reply in fchat.replies">
		<div class="form-group">
			<div class="form-group">
				<label for="reply{{$index + 1}}">联系人{{$index + 1}}</label>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="reply.value" placeholder="请填写手机号" id="reply{{$index + 1}}" name="reply{{$index + 1}}" />
				<div ng-show="error{{$index + 1}}" style="color:red;">第{{$index + 2}}联系人，请输入正确的手机号</div>
			</div>
			<div class="form-group">
				<a href="" ng-click="fchat.incrReply($index)">
					<span class="symbol_jia">+</span></a>
				<a href="" ng-click="fchat.decrReply($index,'sku_warning_all')" ng-show="fchat.canDescReply">
					<span class="symbol_jian">-</span></a>
			</div>
		</div>
	</div>
	<div>
		<button type="submit" class="btn btn-primary">保存</button>
	</div>
</form>

<form id="form2" class="form-inline" ng-submit="insert('sku_warning_part')" style="text-align: left;">
	<div>
		<label for="no">预警库存数</label>
		<input type="text" class="form-control" name="no" placeholder="预警库存数" ng-model="param">
	</div>
	<div ng-repeat="reply in fchat.replies">
		<div class="form-group">
			<div class="form-group">
				<label for="reply{{$index + 1}}">联系人{{$index + 1}}</label>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="请填写手机号" ng-model="reply.value" id="reply{{$index + 1}}" name="reply{{$index + 1}}" />
				<div ng-show="sp_reply{{$index + 1}}" style="color: red;">第{{$index + 2}}联系人，请输入正确的手机号</div>
			</div>
			<div class="form-group">
				<a href="" ng-click="fchat.incrReply($index)">
					<span class="symbol_jia">+</span> </a>
				<a href="" ng-click="fchat.decrReply($index,'sku_warning_part')" ng-show="fchat.canDescReply">
					<span class="symbol_jian">-</span> </a>
			</div>
		</div>
	</div>
	<div>
		<button type="submit" class="btn btn-primary">保存联系人</button>
	</div>
	<br/>
	<!--<div class="divTable">
		<table class="table">
			<thead>
				<tr>
					<th><input id="checkallSkus" type="checkbox" ng-click="checkAllSku()"></th>
					<th>商品名称</th>
					<th>SKU编码</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="sku in skus">
					<td><input class="cbSkus" type="checkbox" ng-model="sku.checked" ng-change="changedSku()"></td>
					<td>{{sku.name}}</td>
					<td>{{sku.id}}</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-primary" ng-click="addWarningSku()" ng-disabled="skus.total == 0">确认选择</button>
	</div>-->

	<div class="divTable">
		<div class="table">
			<div class="mrt10">
				<select name="type" class="form-control" ng-model="tagType1" ng-change="changeTags('1',tagType1)">
					<option value="">-- 全部 --</option>
					<option ng-repeat="x in tagsArray1" value="{{x.id}}">{{x.text}}</option>
				</select>
				<select ng-show="deepth>1" name="type" class="form-control" ng-model="tagType2" ng-change="changeTags('2',tagType2)">
					<option value="">-- 全部 --</option>
					<option ng-repeat="x in tagsArray2" value="{{x.id}}">{{x.text}}</option>
				</select>
				<select ng-show="deepth>2" name="type" class="form-control" ng-model="tagType3" ng-change="changeTags('3',tagType3)">
					<option value="">-- 全部 --</option>
					<option ng-repeat="x in tagsArray3" value="{{x.id}}">{{x.text}}</option>
				</select>
				<select ng-show="deepth>3" name="type" class="form-control" ng-model="tagType4" ng-change="changeTags('4',tagType4)">
					<option value="">-- 全部 --</option>
					<option ng-repeat="x in tagsArray4" value="{{x.id}}">{{x.text}}</option>
				</select>
				<span ng-if="errorMessage3 && !newCoupon.refId" class="alert alert-danger">
								 <span >请选择sku。</span>
				</span>
				<!--
								<span class="pull-right">
								<input type="text" class="form-control" name="name" placeholder="" ng-model="newCoupon.name" required ng-maxlength="20">
								<button class="btn btn-default" ng-click="addCouponInfo()" >查找</button>
								</span>-->
				<div>
					<table class="table">
						<thead>
							<tr>
								<th><input id="checkallSkus" type="checkbox" ng-click="checkAllSku()">全选</th>
								<th>skuId</th>
								<th>商品名称</th>
								<th>ERP编码</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="sku in skus">
								<td>
									<input class="cbSkus" type="checkbox" ng-model="sku.checked" ng-change="changedSku()">
								</td>
								<td>{{sku.id}}</td>
								<td>{{sku.name}}</td>
								<td>{{sku.erp_code}}</td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
		<button type="button" class="btn btn-primary" ng-click="addWarningSku()" ng-disabled="skus.total == 0">确认选择</button>
	</div>
	<br/>
	<div class="divTable">
		<table class="table">
			<thead>
				<tr>
					<th><input id="checkallwSkus" type="checkbox" ng-click="checkAllwSku()"></th>
					<th>已选商品</th>
					<th>SKU编码</th>
					<th>库存</th>
					<th>预警值</th>
					<th style="width: 50px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="warningSku in warningSkus">
					<td><input class="cbwSkus" type="checkbox" ng-model="warningSku.checked" ng-change="changedwSku()"></td>
					<td>{{warningSku.name}}</td>
					<td>{{warningSku.id}}</td>
					<td>{{warningSku.inventory}}</td>
					<td>{{warningSku.warningInventory}}</td>
					<td>
						<a class="template" ng-click="delWarningSku(warningSku.id)">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-primary" ng-click="delWarningSku()" ng-disabled="warningSku.total == 0">删除</button>
	</div>
</form>