body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:1276px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:740px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:740px;
}
#u3 {
  position:absolute;
  left:2px;
  top:362px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:90px;
  width:210px;
  height:250px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:250px;
}
#u5 {
  position:absolute;
  left:2px;
  top:117px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:230px;
  top:80px;
  width:1022px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:330px;
  top:90px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:610px;
  top:90px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:230px;
  top:176px;
  width:1022px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u13 {
  position:absolute;
  left:230px;
  top:250px;
  width:1030px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:1013px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1030px;
  height:1px;
}
#u14 {
  position:absolute;
  left:1109px;
  top:141px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1172px;
  top:141px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:80px;
  top:108px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#33CCFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:50px;
  top:58px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:827px;
  top:90px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1110px;
  top:90px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1110px;
  top:32px;
  width:120px;
  height:38px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u27 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:490px;
  top:80px;
  width:10px;
  height:620px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:603px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:620px;
}
#u29 {
  position:absolute;
  left:755px;
  top:80px;
  width:10px;
  height:620px;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:603px;
  width:20px;
  height:18px;
}
#u29_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:620px;
}
#u30 {
  position:absolute;
  left:930px;
  top:80px;
  width:10px;
  height:620px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:603px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:620px;
}
#u31 {
  position:absolute;
  left:1246px;
  top:120px;
  width:10px;
  height:580px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u32 {
  position:absolute;
  left:225px;
  top:120px;
  width:10px;
  height:580px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u33 {
  position:absolute;
  left:327px;
  top:142px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:327px;
  top:210px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1109px;
  top:210px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1172px;
  top:210px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:230px;
  top:250px;
  width:1022px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u42 {
  position:absolute;
  left:230px;
  top:324px;
  width:1030px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:1013px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1030px;
  height:1px;
}
#u43 {
  position:absolute;
  left:327px;
  top:284px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1109px;
  top:284px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1172px;
  top:284px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:230px;
  top:324px;
  width:1022px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u50 {
  position:absolute;
  left:230px;
  top:398px;
  width:1022px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u51 {
  position:absolute;
  left:327px;
  top:358px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1109px;
  top:358px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1172px;
  top:358px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:820px;
  top:144px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:818px;
  top:207px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:818px;
  top:281px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:818px;
  top:358px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:230px;
  top:398px;
  width:1022px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u66 {
  position:absolute;
  left:230px;
  top:472px;
  width:1022px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u67 {
  position:absolute;
  left:327px;
  top:432px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1109px;
  top:432px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1172px;
  top:432px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:818px;
  top:432px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:623px;
  top:142px;
  width:11px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:623px;
  top:210px;
  width:11px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:623px;
  top:284px;
  width:11px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:623px;
  top:358px;
  width:11px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:623px;
  top:432px;
  width:11px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:230px;
  top:472px;
  width:1022px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u86 {
  position:absolute;
  left:230px;
  top:546px;
  width:1022px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u87 {
  position:absolute;
  left:327px;
  top:506px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1109px;
  top:506px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1172px;
  top:506px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:1052px;
  top:506px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:818px;
  top:506px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:623px;
  top:506px;
  width:7px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:230px;
  top:546px;
  width:1022px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u100 {
  position:absolute;
  left:230px;
  top:620px;
  width:1022px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u101 {
  position:absolute;
  left:327px;
  top:580px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1109px;
  top:580px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:1172px;
  top:580px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:1052px;
  top:580px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:818px;
  top:580px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:623px;
  top:580px;
  width:7px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:22px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:230px;
  top:700px;
  width:1022px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:1005px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1022px;
  height:1px;
}
#u114 {
  position:absolute;
  left:327px;
  top:652px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1109px;
  top:652px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1172px;
  top:652px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1052px;
  top:652px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:818px;
  top:652px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:623px;
  top:652px;
  width:7px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:22px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:970px;
  top:210px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:970px;
  top:284px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:970px;
  top:361px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:970px;
  top:435px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:970px;
  top:508px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:970px;
  top:583px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:970px;
  top:655px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:970px;
  top:142px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:57px;
  top:142px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#1E1E1E;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:63px;
  top:230px;
  width:84px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#1E1E1E;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:98px;
  top:174px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#1E1E1E;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:98px;
  top:202px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#1E1E1E;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:63px;
  top:258px;
  width:84px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#1E1E1E;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
