<header class="ui-bar main-header default coupon">	
  <ul>
	<li class="change">未使用</li>
	<li>已过期</li>
	<li>已使用</li>
  </ul>
</header>

<div class="pj-site-container coupons">
  <ul class="couponlist">
    <li class="coupon-used">
      <div>
        <span>优惠券</span>
        <span>IPHONE6S专用</span>
        <span>有效期：2016-2-18</span>
      </div>
      <div>
        <span>￥30元</span>
        <span>满2000元减100元</span>
      </div>
    </li>
    <li>
      <div>
        <span>优惠券</span>
        <span>IPHONE6S专用</span>
        <span>有效期：2016-2-18</span>
      </div>
      <div>
        <span>￥30元</span>
        <span>满2000元减100元</span>
      </div>
    </li>
    <li>
      <div>
        <span>优惠券</span>
        <span>IPHONE6S专用</span>
        <span>有效期：2016-2-18</span>
      </div>
      <div>
        <span>￥30元</span>
        <span>满2000元减100元</span>
      </div>
    </li>
    <li>
      <div>
        <span>优惠券</span>
        <span>IPHONE6S专用</span>
        <span>有效期：2016-2-18</span>
      </div>
      <div>
        <span>￥30元</span>
        <span>满2000元减100元</span>
      </div>
    </li>
    <li>
      <div>
        <span>优惠券</span>
        <span>IPHONE6S专用</span>
        <span>有效期：2016-2-18</span>
      </div>
      <div>
        <span>￥30元</span>
        <span>满2000元减100元</span>
      </div>
    </li>
  </ul>
</div>