<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyiti.easycommerce.repository.SeqNoDao">
    <resultMap id="BaseResultMap" type="com.tyiti.easycommerce.entity.SeqNo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="seq_no" property="seqNo" jdbcType="INTEGER" />
    </resultMap>

    <insert id="addSeqNo" parameterType="com.tyiti.easycommerce.entity.SeqNo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <!--selectKey order="AFTER" keyProperty="id" resultType="int">
		select last_insert_id()
		</selectKey-->
        INSERT INTO t_seq_no (`key`, `seq_no`) VALUES (#{key}, #{seqNo})
    </insert>
</mapper>