<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyiti.easycommerce.repository.TagDao">
	<resultMap id="BaseResultMap" type="com.tyiti.easycommerce.entity.Tag">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="tree_depth" property="treeDepth" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="invalid" property="invalid" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="rank" property="rank" jdbcType="INTEGER" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="BaseResultMapSkuList" type="com.tyiti.easycommerce.entity.Tag">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="invalid" property="invalid" jdbcType="INTEGER" />
		<result column="rank" property="rank" jdbcType="INTEGER" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="depth" property="depth" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<association property="parentTag" javaType="com.tyiti.easycommerce.entity.Tag"
			resultMap="BaseResultMapParent" />
		<collection property="skus" ofType="com.tyiti.easycommerce.entity.Sku"
			resultMap="BaseResultMapSku">
		</collection>
	</resultMap>

	<resultMap id="BaseResultMapParent" type="com.tyiti.easycommerce.entity.Tag">
		<id column="p_id" property="id" jdbcType="INTEGER" />
		<result column="p_name" property="name" jdbcType="VARCHAR" />
		<result column="p_parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="p_invalid" property="invalid" jdbcType="INTEGER" />
		<result column="p_rank" property="rank" jdbcType="INTEGER" />
		<result column="p_icon" property="icon" jdbcType="VARCHAR" />
		<result column="p_create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="p_update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="BaseResultMapSku" type="com.tyiti.easycommerce.entity.Sku">
		<id column="s_id" property="id" jdbcType="INTEGER" />
		<result column="s_spu_id" property="spuId" jdbcType="INTEGER" />
		<result column="s_name" property="name" jdbcType="VARCHAR" />
		<result column="s_description" property="description" jdbcType="VARCHAR" />
		<result column="s_detail" property="detail" jdbcType="VARCHAR" />
		<result column="s_erp_code" property="erpCode" jdbcType="VARCHAR" />
		<result column="s_head_thumbnail" property="headThumbnail"
			jdbcType="VARCHAR" />
		<result column="s_images_thumbnail" property="imagesThumbnail"
			jdbcType="VARCHAR" />
		<result column="s_images_original" property="imagesOriginal"
			jdbcType="VARCHAR" />
		<result column="s_invalid" property="invalid" jdbcType="BOOLEAN" />
		<result column="s_original_price" property="originalPrice"
			jdbcType="DECIMAL" />
		<result column="s_price" property="price" jdbcType="DECIMAL" />
		<result column="s_installment" property="installment" jdbcType="VARCHAR" />
		<result column="s_is_default" property="isDefault" jdbcType="BOOLEAN" />
		<result column="s_create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="s_update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, tree_depth, code, parent_id, invalid, status,
		rank, icon,
		create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_tag
		where id = #{id,jdbcType=INTEGER} AND invalid = 0
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_tag
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<select id="getMaxRank" resultType="java.lang.Integer">
		select ifnull(max(rank),0)
		rank from t_tag
		where parent_id =
		#{parentId,jdbcType=INTEGER} and
		invalid = 0
	</select>

	<!-- 排序 -->
	<update id="updateSortOtherUp" parameterType="java.lang.Integer">
		update t_tag
		set
		rank = rank+1
		where invalid = 0 and rank &gt;=
		#{toRank,jdbcType=INTEGER} and rank &lt;
		#{rank,jdbcType=INTEGER} and
		parent_id = #{parentId,jdbcType=INTEGER}
	</update>
	<update id="updateSortOtherDown" parameterType="java.lang.Integer">
		update t_tag
		set
		rank = rank-1
		where invalid = 0 and rank &lt;=
		#{toRank,jdbcType=INTEGER} and rank &gt;
		#{rank,jdbcType=INTEGER} and
		parent_id = #{parentId,jdbcType=INTEGER}
	</update>
	<update id="updateSortOwn" parameterType="com.tyiti.easycommerce.entity.Tag">
		update t_tag
		set rank =
		#{rank,jdbcType=INTEGER}
		where invalid = 0 and id =
		#{id,jdbcType=INTEGER}
	</update>

	<insert id="insert" parameterType="com.tyiti.easycommerce.entity.Tag"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_tag (id, name,
		parent_id,code,
		invalid, rank, icon, create_time,
		update_time)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{parentId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR},
		#{invalid,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER},
		#{icon,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.tyiti.easycommerce.entity.Tag"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_tag
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="treeDepth != null">
				tree_depth,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="invalid != null">
				invalid,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="treeDepth != null">
				#{treeDepth,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="invalid != null">
				#{invalid,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				#{rank,jdbcType=INTEGER},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tyiti.easycommerce.entity.Tag">
		update t_tag
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="treeDepth != null">
				tree_depth = #{treeDepth,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="invalid != null">
				invalid = #{invalid,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				rank = #{rank,jdbcType=INTEGER},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tyiti.easycommerce.entity.Tag">
		update t_tag
		set
		name = #{name,jdbcType=VARCHAR},
		parent_id =
		#{parentId,jdbcType=INTEGER},
		invalid = #{invalid,jdbcType=INTEGER},
		rank = #{rank,jdbcType=INTEGER},
		icon = #{icon,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKeyDel" parameterType="com.tyiti.easycommerce.entity.Tag">
		update t_tag
		set invalid = 0
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getTagByParentId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from t_tag
		where parent_id = #{parentId,jdbcType=INTEGER}
	</select>
	<select id="getAllTags" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from t_tag WHERE invalid = 0
		ORDER BY rank ASC
	</select>

	<select id="getSkuListByParentId" resultMap="BaseResultMapSkuList">
		call
		showTagSkuChildList(#{parentId}, #{level}, #{limit})
	</select>

	<!-- 根据code 获取tagId -->
	<select id="getTagIdByCode" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select id from t_tag where code =#{code,jdbcType=INTEGER}
		and invalid=0 and status = 1
	</select>

</mapper>