<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyiti.easycommerce.repository.OrderSkuActivityDao">
  <resultMap id="BaseResultMap" type="com.tyiti.easycommerce.entity.OrderSkuActivity">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="activity_type" jdbcType="VARCHAR" property="activityType" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="activity_skuId" jdbcType="INTEGER" property="activitySkuid" />
    <result column="discounted_price" jdbcType="DOUBLE" property="discountedPrice" />
    <result column="activity_describe" jdbcType="VARCHAR" property="activityDescribe" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, order_id, activity_type, activity_id, activity_skuId, discounted_price, activity_describe, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_sku_activity
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order_sku_activity
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tyiti.easycommerce.entity.OrderSkuActivity">
    insert into t_order_sku_activity (Id, order_id, activity_type, 
      activity_id, activity_skuId, discounted_price, 
      activity_describe, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{activityType,jdbcType=VARCHAR}, 
      #{activityId,jdbcType=INTEGER}, #{activitySkuid,jdbcType=INTEGER}, #{discountedPrice,jdbcType=DOUBLE}, 
      #{activityDescribe,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tyiti.easycommerce.entity.OrderSkuActivity">
    insert into t_order_sku_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="activityType != null">
        activity_type,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="activitySkuid != null">
        activity_skuId,
      </if>
      <if test="discountedPrice != null">
        discounted_price,
      </if>
      <if test="activityDescribe != null">
        activity_describe,
      </if>
      <if test="creatTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="activityType != null">
        #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activitySkuid != null">
        #{activitySkuid,jdbcType=INTEGER},
      </if>
      <if test="discountedPrice != null">
        #{discountedPrice,jdbcType=DOUBLE},
      </if>
      <if test="activityDescribe != null">
        #{activityDescribe,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyiti.easycommerce.entity.OrderSkuActivity">
    update t_order_sku_activity
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="activityType != null">
        activity_type = #{activityType,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activitySkuid != null">
        activity_skuId = #{activitySkuid,jdbcType=INTEGER},
      </if>
      <if test="discountedPrice != null">
        discounted_price = #{discountedPrice,jdbcType=DOUBLE},
      </if>
      <if test="activityDescribe != null">
        activity_describe = #{activityDescribe,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        create_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyiti.easycommerce.entity.OrderSkuActivity">
    update t_order_sku_activity
    set order_id = #{orderId,jdbcType=INTEGER},
      activity_type = #{activityType,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=INTEGER},
      activity_skuId = #{activitySkuid,jdbcType=INTEGER},
      discounted_price = #{discountedPrice,jdbcType=DOUBLE},
      activity_describe = #{activityDescribe,jdbcType=VARCHAR},
      create_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
   <!--批量插入参加活动的订单商品信息- -->
  <insert id="insertOrderSkuActivityList" parameterType="java.util.List">
        INSERT INTO t_order_sku_activity (`order_id`, `activity_type`, `activity_id`, `activity_skuId`,`discounted_price`,`activity_describe`,`create_time`,`update_time`) VALUES
        <foreach close=")" collection="skuActivityList" index="index" item="orderSkuActivity" open="(" separator="), (">
            #{orderSkuActivity.orderId}, #{orderSkuActivity.activityType}, #{orderSkuActivity.activityId},#{orderSkuActivity.activitySkuid},#{orderSkuActivity.discountedPrice},#{orderSkuActivity.activityDescribe},NOW(),#{orderSkuActivity.updateTime}
        </foreach>
   </insert>
   <!--根据订单ID查询所有商品 -->
   <select id="findOrderSkuActivityList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_sku_activity osa
    where (osa.activity_type =1 or osa.activity_type=2)
     and  osa.order_id = #{orderId,jdbcType=INTEGER}
     and  osa.activity_skuId = #{skuId,jdbcType=INTEGER}
  </select>
     <!--根据订单ID商品ID查询该商品是否参加活动 -->
   <select id="findOrderSkuActivity" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_sku_activity osa
    where (osa.activity_type =1 or osa.activity_type=2)
     and  osa.order_id = #{orderId,jdbcType=INTEGER}
     and  osa.activity_skuId = #{skuId,jdbcType=INTEGER}
  </select>
</mapper>