<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyiti.easycommerce.repository.ShareDao">
	<resultMap id="BaseResultMap" type="com.tyiti.easycommerce.entity.Share">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="share_code" property="shareCode" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_column_list">id,user_id,share_code,create_time</sql>

	<insert id="addShare" parameterType="com.tyiti.easycommerce.entity.Share">
		insert into t_share
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="shareCode != null">
				share_code,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="shareCode != null">
				#{shareCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<select id="selectByShare" resultType="com.tyiti.easycommerce.entity.Share"
		resultMap="BaseResultMap">
		select sh.id,sh.user_id,sh.share_code,sh.create_time,tu.mobile from
		t_share sh
		LEFT JOIN t_user tu on sh.user_id=tu.id
		where 1=1
		<if test="stratTime != null">
			and sh.create_time &gt;= #{stratTime,jdbcType=TIMESTAMP}
		</if>
		<if test="endTime != null">
			and sh.create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="userId != null">
			and sh.user_id= #{userId,jdbcType=INTEGER}
		</if>
		<if test="id != null">
			and sh.id= #{id,jdbcType=INTEGER}
		</if>
		<if test="shareCode != null">
			and sh.share_code= #{shareCode,jdbcType=VARCHAR}
		</if>
		<if test="mobile != null">
			and tu.mobile= #{mobile,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getListByShare" resultMap="BaseResultMap">
		select
		<include refid="Base_column_list" />
		from t_share
		where 1=1
		<if test="stratTime != null">
			and create_time &gt;= #{stratTime,jdbcType=TIMESTAMP}
		</if>
		<if test="endTime != null">
			and create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="userId != null">
			and user_id= #{userId,jdbcType=INTEGER}
		</if>
		<if test="id != null">
			and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="shareCode != null">
			and share_code= #{shareCode,jdbcType=VARCHAR}
		</if>
	</select>

</mapper>