<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyiti.easycommerce.repository.WarningUserGroupDao">
	<resultMap id="BaseResultMap"
		type="com.tyiti.easycommerce.entity.WarningUserGroup">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="warning_user_id" property="warningUserId"
			jdbcType="INTEGER" />
		<result column="warning_group_id" property="warningGroupId"
			jdbcType="INTEGER" />
		<result column="invalid" property="invalid" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">id,
		warning_user_id,warning_group_id,invalid,create_time,update_time
	</sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.tyiti.easycommerce.entity.WarningUserGroup">
		insert into t_warning_user_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="warningUserId != null">
				warning_user_id,
			</if>
			<if test="warningGroupId != null">
				warning_group_id,
			</if>
			<if test="invalid != null">
				invalid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="warningUserId != null">
				#{warningUserId,jdbcType=INTEGER},
			</if>
			<if test="warningGroupId != null">
				#{warningGroupId,jdbcType=INTEGER},
			</if>
			<if test="invalid != null">
				#{invalid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<select id="getWarningUserGroup" resultMap="BaseResultMap"
		parameterType="com.tyiti.easycommerce.entity.WarningUserGroup">
		select
		<include refid="Base_Column_List" />
		from t_warning_user_group
		where 1=1
		<if test="id != null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="warningUserId != null">
			and warning_user_id = #{warningUserId,jdbcType=INTEGER}
		</if>
		<if test="warningGroupId != null">
			and warning_group_id = #{warningGroupId,jdbcType=INTEGER}
		</if>
		<if test="invalid != null">
			and invalid = #{invalid,jdbcType=BIT}
		</if>
	</select>

	<update id="updateWarningUserGroupByPrimaryKey" parameterType="com.tyiti.easycommerce.entity.WarningUserGroup">
		update t_warning_user_group
		<set>
			<if test="invalid != null">
				invalid=#{invalid,jdbcType=BIT},
			</if>
		</set>
		where 1=1
		<if test="id != null">
			and id=#{id,jdbcType=INTEGER},
		</if>
		<if test="warningUserId != null">
			and warning_user_id=#{warningUserId,jdbcType=INTEGER},
		</if>
		<if test="warningGroupId != null">
			and warning_group_id=#{warningGroupId,jdbcType=INTEGER},
		</if>
	</update>

</mapper>