<div id="system-container">
	<form class="form-inline" ng-submit="updateLocation()">
	  <div class="form-group">
	    <label for="skuName">商品名称</label>
	    <input type="text" class="form-control" name="skuName" placeholder="商品名称" ng-model="searchInput.skuName">
	  </div>
	
	  <div class="form-group">
	    <label for="no">订单号</label>
	    <input type="text" class="form-control" name="no" placeholder="订单号" ng-model="searchInput.no">
	  </div>
	
	  <div class="form-group">
	    <label for="mobile">买家手机号</label>
	    <input type="text" class="form-control" name="mobile" placeholder="买家手机号" ng-model="searchInput.mobile">
	  </div>
	  <br>
	
	  <div class="form-group">
	    <label>成交时间</label>
	    <input type="text" class="form-control" name="startTime" placeholder="开始时间" ng-model="searchInput.startTime">
	
	    <input type="text" class="form-control" name="endTime" placeholder="结束时间" ng-model="searchInput.endTime">
	  </div>
	
	  <div class="form-group">
	    <label for="status">订单状态</label>
	    <select name="status" ng-model="searchInput.status" ng-options="status.status as status.name for status in statusMap">
	      <option value="">全部</option>
	    </select>
	  </div>
	
	<!--  <div class="form-group">
	    <label for="payMethod">订单类型</label>
	    <select name="payMethod" ng-model="searchInput.payMethod" ng-options="type.type as type.name for type in typeMap">
	      <option value="">全部</option>
	    </select>
	  </div>-->
	  <div class="form-group">
	    <label for="cancelStatus">售后状态</label>
	    <select name="cancelStatus" ng-model="searchInput.cancelStatus" ng-options="type.type as type.name for type in cancelStatusMap">
	      <option value="">全部</option>
	    </select>
	  </div>
	  <div class="form-group" ng-if="detailPath=='pickup'">
	  <label >营业厅</label>
	  <select name="pickupPointId" class="form-control" ng-model="searchInput.pickupPointId" >
	    <option value="">-- 全部 --</option>
	    <option ng-repeat="x in businessList" value="{{x.id}}">{{x.name}}</option>
	  </select>
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary">搜索</button>
	</form>
	<!-- +快速筛选 --> 
	<div class="btn-group quick-search">
	  <a ui-sref="{{detailPath}}Search({status: null})" class="btn btn-default" ng-class="{'active': isQuickSearch && !params.status}">全部</a>
	  <a ui-sref="{{detailPath}}Search({status: 2})" class="btn btn-default" ng-class="{'active': isQuickSearch && params.status == 2}">待确认</a>
	  <a ui-sref="{{detailPath}}Search({status: 3})" class="btn btn-default" ng-class="{'active': isQuickSearch && params.status == 3}">待制单</a>
	  <a ui-sref="{{detailPath}}Search({status: 4})" class="btn btn-default" ng-class="{'active': isQuickSearch && params.status == 4}">待发货</a>
	  <a ui-sref="{{detailPath}}Search({status: 1})" class="btn btn-default" ng-class="{'active': isQuickSearch && params.status == 1}">待付款</a>
	</div>
	<!-- -快速筛选 -->
	
	<table class="table">
	  <thead>
	    <tr>
	      <th><input id="checkall" type="checkbox" ng-click="checkAll()"></th>
	      <th>订单号</th>
	      <th style="width: 95px;">下单时间</th>
	      <th style="width: 120px;">商品名称</th>
	      <th>单价</th>
	      <th>数量</th>
	      <th>分期数</th>
	      <th>总金额</th>
	      <th>优惠金额</th>
	      	<th ng-if="configSys != 'ceb'"> 首付金额</th>
		<th ng-if="configSys != 'thb'">分期金额</th>
	      <th>买家手机号</th>
	      <th>订单状态</th>
			<th>售后类型</th>
			<th>售后状态</th>
			<!--<th ng-if="detailPath=='pickup'">自提单状态</th>-->
	      <th style="width: 50px;">操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="order in orders">
	      <td><input type="checkbox" ng-model="order.checked" ng-change="changed()"></td>
	      <td>{{order.no}}</td>
	      <td>{{order.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
	      <td style="width: 120px;word-break: break-all">{{order.skuName}}</td>
	      <td>{{order.skuPrice}}</td>
	      <td>{{order.skuCount}}</td>
	      <td>{{order.installmentMonths}}</td>
	      <td>{{order.amount}}</td>
	      <td>{{order.discount}}</td>
	      <td ng-if="configSys != 'ceb'">{{order.downPayment}}</td>
				<td ng-if="configSys != 'thb'">{{order.installmentAmount}}</td>
	      <td>{{order.mobile}}</td>
	      <td>{{order.statusText}}</td>
		    <td>{{order.cancelTypeText|| '-'}}</td>
		    <td>{{order.cancelStatusText|| '-'}}</td>
		 <!-- <td ng-if="detailPath=='pickup'">{{pickupOrderStatusBus['ob_'+order.pickupStatus]}}</td>-->
	      <td><a ng-href="#{{detailPath}}/{{order.id}}" target="_blank">查看</a></td>
	    </tr>
	  </tbody>
	</table>
	
	<div class="btn-group">
	  <button type="button" class="btn btn-default" ng-click="transferState(3)" ng-disabled="status != 2 || (cancelStatus !='' && cancelStatus !=2 ) ">确认</button>
	  <button type="button" class="btn btn-default" ng-click="exportOrder()" ng-disabled="status != 3 ||  (cancelStatus !='' && cancelStatus !=2 ) ">制单导出</button>
	  <button type="button" class="btn btn-default" ng-click="transferState(5)"ng-disabled="status != 4 || (cancelStatus !='' && cancelStatus !=2 ) ">发货</button>
	</div>
	
	<div class="btn-group">
	  <button type="button" class="btn btn-default" ng-click="exportAll()" ng-disabled="orders.total == 0">查询结果导出</button>
	</div>
</div>
<uib-pagination total-items="page.totalCount" ng-model="page.currentPage" max-size="10" items-per-page="page.pageSize" 
		previous-text="上一页" next-text="下一页" ng-change="pageChanged()" class="samplePage pagination-sm" boundary-link-numbers="true">
  </uib-pagination> 
