<div class="pj-site-container sign pass signbg">
  <div class="logo"></div>
  <div class="information">
  <form novalidate="">
   
    <p class="password"><input placeholder="请输入旧密码" type="password" name="password" value="" required=""></p>
    <p class="password"><input placeholder="请输入新密码" type="password" name="newPassword" value="" /></p>
    <p class="password"><input placeholder="请再次输入新密码" type="password" name="newPasswordRepeat" value="" /></p>
    <p><button class="submint">提交</button></p>
  </form>
  </div>
</div>