<div class="pj-site-container sign find paymodify signbg">
  <div class="logo"></div>
  <div class="information">
  
    <div class="payone">
  	  <p class="account"><input placeholder="请输入手机号" type="tel" name="mobile" value="" data-validate-mobile></p>
	  <p class="idcard"><input placeholder="请输入身份证号" name="idCard" value=""></p>
	  <p class="checkcode"><input placeholder="请输入验证码" type="tel" name="verifyCode" value="" /><button class="obtain">获取验证码</button></p>
	  <p><button class="submint">下一步</button></p>
  	</div> 
  	<div class="paytwo hidden">
  	  <span class="alieditContainer"  id="payPassword_container">
        <input type="tel" tabindex="1" id="payPassword_rsainput"  name="payPassword_rsainput" class="ui-input i-text sixDigitPassword" oncontextmenu="return false" onpaste="return false" oncopy="return false"  oncut="return false" autocomplete="off" value="" maxlength="6" minlength="6" style="outline: none; margin-left: -500x;"  optional/>
        <div class="sixDigitPassword" onclick="" tabindex="0" >
	      <i style="border-left-width: 0;"><b></b></i>
	      <i><b></b></i>
	      <i><b></b></i>
	      <i><b></b></i>
	      <i><b></b></i>
	      <i><b></b></i>
        </div>
      </span>
  	</div> 
  </form>
  </div>
</div>