<div class="pj-site-container  find sharefriend">
  <div class="top">
    <img src="img/sharedtop.jpg"/>
  </div>
  <div class="msg">
    <p>好友<i></i>邀请你，注册得红包</p>
    <form novalidate="">
      <label class="account">手机号:<input placeholder="请输入手机号" class="Telephone"  type="tel" name="mobile" value="" data-validate-mobile></label>
      <label class="checkcode">验证码:<input placeholder="请输入验证码" class="code"  type="tel" name="checkcode" value=""><button  class="obtain">获取</button></label>
      <label class="password">密码:<input  placeholder="请输入密码" class="psd" type="password" name="password" value=""></label>
      <!-- <input class="submint sub" type="button" name="name" value="马上领奖"> -->
      <button class="submint sub">马上领奖</button><br/>
      <a class="gohome" href="#home">已有账号，去商城</a>
    </form>
  </div>
  <div class="draw">
    <div class="close">
      X
    </div>
    <div class="content">
      <div class="win">
        <p>恭喜<br/>获得一张<i></i></p>
        <input class="goshop" type="button" name="name" value="去购物">
      </div>
      <div class="lose">
        <p>抱歉<br/>手机号已被注册，无法参与此活动</p>
        <input class="sure" type="button" name="name" value="确定">
      </div>
    </div>
  </div>
</div>
