  <div class="pj-site-container share">
    <div class="top">
      <img src="img/sharetop.jpg"/>
    </div>
    <input class="shareto" type="button" name="name"  value="分享给微信好友">
    <div class="rule">
      <div class="title"><img src="img/rule.png"/></div>
      <ul>
        <li>通过您的分享链接，成功邀请1位好友注册成为淘惠帮商城会员后，您可以获得一张10元优惠券;好友注册成功可以获得一张5元全场通用代金券;</li>
        <li>邀请注册成功好友数≥3人，额外奖励一张10元优惠券;</li>
        <li>邀请注册成功好友数≥6人，额外奖励一张30元优惠券;</li>
        <li>邀请注册成功好友数≥10人，额外奖励一张100元优惠券</li>
        <li>活动过程中，凡以不正当手段（作弊、虚假交易、扰乱系统、实施网络攻击等）参与本次活动的用户，淘惠帮有权终止其参与活动，并取消其获奖资格
（如奖励已发放，淘惠帮有权追回）。</li>
      </ul>
    </div>
    <div class="guide">
    </div>
    <div class="guidein">
        <img src="img/shareguide.png"/>
        <p>点击此处，发送给朋友</p>
        <input class="know" type="button" name="name" value="我知道了">
    </div>
  </div>
