  <div class="pj-site-container sign signbg">
    <div class="logo"></div>
    <div class="logoFxb hidden">
      <img src="../img/top.png" alt="">
    </div>
    <div class="information">
    <form novalidate="">
      <p class="account"><input placeholder="请输入手机号" type="tel" name="mobile" value="" data-validate-mobile></p>
      <p class="password"><input placeholder="请输入密码" type="password" name="password" value="" /></p>
      <p><button class="submint">登录</button></p>
      <p><a href="#findpass">忘记密码？</a><a href="#register">快速注册</a>
      </p>
    </form>
  </div>
 </div>