<div class="pj-site-container" style="width: 100%">
   <img style="width:100%;height:auto;margin:80px auto;margin-bottom:10px;display:block;" src="./img/gdzhifushibai.png">
   <P style="text-align:center;font-size: 19px;color: #333;margin-bottom: 50px;">支付失败！</P>
   <a href="#home" style="width:41%;height:40px;line-height:40px;border-radius:4px;background:#ff6633;margin-left:5%;display:inline-block;border:1px solid #ff6633;color:#fff;font-size:17px;text-decoration:none;text-align: center; ">返回首页</a>
   <a href="/?#order/type/0" style="width:41%;height:40px;line-height:40px;border-radius:3px;background:#fff;margin-left:6%;display:inline-block;border:1px solid #ff6633;color:#ff6633;font-size:17px;text-decoration:none;text-align: center;">查看订单</a>
</div>