<div class="couponOwn">
  <!--全部-->
  <div class="list_one">
    <div class="fullBind">
      <div class="bind <%=(config.sys=='ceb'?'unceb':'')%>">
        <span class="bindB">绑定</span>
        <div class="bindBContent">
          <input type="text" id="code_bind" placeholder="请输入优惠码/代金码">
        </div>
      </div>
    </div>

    <div class="unuseB <%=(config.sys=='ceb'?'unuseBceb':'')%>">
      <span>不使用优惠券/代金券</span>
    </div>

    <% _.each(data, function(item) { %>
    <div class="coup_list coupon-item" data-id="<%= item.id %>" data-type="<%= item.coupon.type %>" data-is-used="<%= item.isUsed ? 1 : 0 %>" data-is-due="<%= item.isDue ? 1 : 0 %>" data-is-available="<%= !item.isUsed && !item.isDue && item.available ? 1 : 0 %>">
      <div class="ct_left">
        <div class="s1"><%= item.coupon.name %></div>
          <% if(item.coupon.threshold) {%>
          <div class="s2">满<%= item.coupon.threshold %>元可用</div>
          <% } %>
      </div>
      <div class="ct_right"><i>￥</i><span><%= item.coupon.discount %></span></div>
      <div class="ct_foot">
        <i></i>
        <span class="usdate"><%= formatTime(item.startTime) %>-<%= formatTime(item.expireTime) %></span>
      </div>
    </div>
    <% }) %>
  </div>
</div>
