<div class="pj-site-container problem">
<div class="Service_terms thbservice">
  <h4>委托付款协议</h4>
  <h6>通用条款</h6>
  <p>本条款载于《委托付款协议》（以下简称“协议”），与协议一致均具有相同法律效力，一经双方签署协议，本协议条款即对双方自动生效，甲乙双方声明，在签署协议之前已认真阅读并正确理解《委托付款协议》全部条款之权利义务。
  </p>      
  <h5>一、定义</h5>
  <p>1、甲方为分信宝购买方，乙方为分信宝商品服务提供方。分信宝是北京新创博宇科技发展有限公司旗下在公众号上唯一指定商城。</p>
  <p>2、甲方通过关注分信宝，注册并提交基础资料获得授信额度后，可在分信宝分期购买商城所有产品或服务。</p>
  <p>3、甲方购买的商品或服务，须按协议通用条款中的期数分期支付月还款（每期本金及每期服务费）至乙方指定账户。</p>
  <p>1）月付还款额，指每期本金及每期服务费相加的总和（具体以分信宝系统产生的为准），甲方应按月付还款额，于每月还款日之前登录分信宝通过微信支付方式支付。</p>
  <p>2）如果还款日遇到法定假日或公休日，还款日期不进行顺延。</p>
  <p>3）还款日：每月还款日以分信宝系统产生的日期为准。</p>
  <p>在全部应付款足额支付完毕之前，乙方仍为商品的所有权人，甲方仅为使用权人，如甲方未在约定的日期还款，乙方有对该商品行使追索权，甲方未经乙方事先书面同意，不得在未付清全部款项前，转让、处分该商品。</p>
  <h5>二、甲方的权利及责任</h5>
  <p>1、与本协议有关的甲方个人信息以分信宝注册为准。甲方保证在分信宝注册登记的个人信息是真实、准确、完整、有效的。如甲方对已在分信宝登记的个人信息发生变更，甲方应在分信宝上提出变更申请。</p>
  <p>2、甲方应在本协议通用的每期最迟支付日前将月还款额足额支付至乙方，支付方式为微信支付。</p>
  <p>3、如甲方出现逾期，将按照如下约定支付违约金：</p>
  <p>当期违约金金额=逾期天数×千分之五×当期应付额</p>
  <p>4、如甲方出现逾期还款超过2个月以上情形，则乙方除有权按照本条款要求甲方支付违约金外，有权要求甲方无条件交还本协议项下甲方所购买全部商品的本金，同时违约金按照上述内容继续累计计算。</p>
  <p>5、甲方应按时支付信用付款服务项下的应付款项（包括但不限于本金、分期服务费、违约金等），且不得以商品纠纷为由拒绝支付信用付款服务项下的应付款项。</p>
  <p>6、甲方在分信宝购买商品确认收货（包括但不限于本人签收，本人委托代签，驿站代收等其他送达形式），须以发货方使用的快递或速递公司出示的快递单签字为准，且甲方必须按照《委托付款协议》通用条款之约定向乙方偿还款项。</p>
  <p>7、甲方应按照产品说明书、用户使用手册等相关资料的指示并以符合安全标准的方式使用标的物，因甲方使用不当，随意改变配置、擅自改装或任意扩充功能（参照标的物说明书进行认定）而造成的一切责任概由甲方承担。</p>
  <p>8、甲方须按本协议要求按期还款，还款方式为微信支付。</p>
  <p>9、甲方声明在接受本协议时本人不存在任何违反法律、法规与规章的行为或情形；若甲方的上述声明虚假或者上述承诺未被履行，或者甲方可能发生违法违规风险，分信宝有权提前终止本协议或采取本协议约定或法律允许的其他救济措施。</p>
  <p>10、甲方必须保证自身填写的资料真实有效，并允许乙方调取、核实。</p>
  <h5>三、乙方的权利及责任</h5>
  <p>1、乙方有权根据通用条款内容，要求甲方按期还款，对于未按期还款的情形，乙方有权进行催告，并按照本协议约定收取违约金。</p>
  <p>2、乙方有权依法向征信及其他相关合法机构了解和查询甲方资产、资讯、个人信用信息等情况，并保留相关资料。</p>
  <p>3、乙方有权根据甲方提交的资料，决定是否接受订单。资料审查未通过，乙方有权单方驳回订单。</p>
  <p>4、乙方有权在资料审核通过后，将标的物由乙方交付至甲方，甲方同意乙方对标的物进行占有、使用、但在价款、服务费及滞纳金（如有）清偿之前，标的物所有权保留在乙方。如甲方未按合同相关约定还款，即失去对标的物的占有、使用权、应立即将标的物无条件归还至乙方。</p>
  <p>5、标的物在使用中存在的质量问题，甲方须联系标的物生产商维修、退货或换货等，不得以质量问题为由拒绝还款。</p>
  <p>6、乙方有权调取并核实甲方在分信宝注册及购买时提交的资料。</p>
  <h5>四、欺诈及失信</h5>
  <p>乙方一旦发现甲方存在违法、违规等欺诈行为，乙方有权终止交易，对于欺诈所获得的款项，甲方须无条件返还乙方，同时被列入乙方黑名单系统，且乙方可根据情节，保留继续追诉的权利。（包括但不限于按照欺诈货款三倍以上加收违约金，按照乙方直接损失和间接损失要求欺诈损害赔偿，不低于欺诈货款的三倍）</p>
  <h5>五、商品售后</h5>
  <p>商品售后按照国家法律、法规执行。</p>
  <h5>六、保密条款</h5>
  <p>双方谨此承诺：对于为本协议目的而提供的资料、商业信息、客户基本资料及本协议内容等（以下统称“保密标的”）均负有保密义务，并应当采取必要而合理的措施以维护上述“保密标的”机密性，且应要求其有必要知悉上述“保密标的”的职员亦确实遵守本条约规定，而不得将上述保密标的作为本协议的范围外的使用或者提供或泄露给任何第三者知悉或者使用。</p>
  <h5>七、诚信条款</h5>
  <p>1、甲方遵守诚信原则，保证在分信宝提供的个人及关联信息资料真实、准确、完整有效，如若本人操作不当或提供的信息资料有误造成的一切法律后果、经济损失均由本人自行承担。</p>
  <p>2、甲方遵守诚信原则，与分信宝确认提交的所有协议均真实、有效，且为本人之行为。</p>
  <p>3、甲方本人珍视个人信用记录，有能力按期支付货款或代付金额及平台服务费，不存在过度负债情况，如逾期违约期数达到协议所约定，乙方按照本协议相关约定履行。</p>
  <h5>八、生效期限</h5>
  <p>1、本协议生效期间应当以消费者手机界面点击“确认订单”按钮之日并经甲方审核通过之日起生效。</p>
  <p>2、本协议自签署之日起至甲乙双方全部履行完毕止，保密条款不因本协议终止而终止。</p>
  <h5>九、其他</h5>
  <p>1、本协议任何条款经认定无效或者与法律规定相矛盾的，不影响其它条款的法律效力。</p>
  <p>2、凡因履行本协议所发生的或与本协议有关的一切争议，甲乙双方应通过友好协商形式解决。如协商无效的，则甲乙双方一致同意提交至北京市海淀区人民法院解决。</p>
  <p><br /></p>
</div>
</div>